/* -------------- Gilroy ----------------*/

@font-face {
    font-family: 'Gilroy' ;
    src: url('/export-costing-user-end-fe/font/Gilroy/Gilroy-Regular.ttf') format('truetype'),
         url('/export-costing-user-end-fe/font/Gilroy/Gilroy-Regular.woff') format('woff');

    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Gilroy' ;
    src: url('/export-costing-user-end-fe/font/Gilroy/Gilroy-Bold.woff') format('woff'),
         url('/export-costing-user-end-fe/font/Gilroy/Gilroy-Bold.ttf') format('truetype');

    font-weight: bold;
    font-style: normal;
}

/* -------------- DM-Sans ----------------*/

@font-face {
    font-family: 'DM-Sans';
    src: url('/export-costing-user-end-fe/font/DMSans/DMSans-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'DM-Sans';
    src: url('/export-costing-user-end-fe/font/DMSans/DMSans-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'DM-Sans';
    src: url('/export-costing-user-end-fe/font/DMSans/DMSans-Italic.ttf') format('truetype');
    font-weight: normal;
    font-style: italic;
}